<h1>{{titulo}}</h1>


<h2>Palabras</h2>
<ol>
    @each(palabra in arrayPalabras)
        <li>{{palabra}}</li>
    @endeach
</ol>

<hr>
<h2>Palabras Invertidas</h2>
<ol>
    @each(palabra in arrayPalabrasInv)
        <li>{{palabra}}</li>
    @endeach
</ol>